
Simple-Remote-Shopping-List/.DS_Store
.DS_Store
Simple-Remote-Shopping-List/Simple-Remote-Shopping-List.xcodeproj/project.xcworkspace/xcuserdata/keithc.xcuserdatad/UserInterfaceState.xcuserstate
Simple-Remote-Shopping-List/GoogleService-Info.plist
